<!doctype html>
<html lang="en">
<head>
    <title>Sakshi Sawant</title>
    <meta name="description" content="" />

    {{>head}}
</head>

<body>
    <div class="blocks-page">
        {{>header2}} 
        <!--welcome section-->
        <section style="background:url('{{{page.greet.img_background}}}=s2048');background-size:cover;background-position:center;">
            <div class="gradient-div py-3" style="height:76vh">
        
                <div class="container">
                    <div class="row justify-content-center header-row">
                        <div class="col-12 col-md-8 col-lg-7 text-center text-white">
                            <img class="mt-4" style="width:160px;border-radius:50%" src="{{{page.greet.img_profile}}}=s160-c" />
                            <h1 class="display-3 mt-2">{{page.greet.greeting}}</h1>
                            <p class="lead text-white mb-4 mt-2">
                                <!--{{page.greet.introduction}}<br> -->
                                {{page.greet.intro}}
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--About me-->
        <section id ="aboutme" class="section">
            <div class="container">
                <div class="row block-header">
                    <div class="col-sm-8 mx-auto text-center">
                        <h1 class="display-4 mt-2 section-title">{{page.about.header}}</h1>
                        <hr>
                        <h2>{{page.about.subheader}}</h2>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col mb-4">
                        <p>{{page.about.para}}</p>
                        <p>Here are Some of my Skills:</p>
                        
                            <ul class="list-unstyled ">
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Javascript</li>
                                <li>C++ Programming</li>
                                <li>Python</li>
                                <li>SQL</li>
                                <li>MS-Office</li>
                                <li>Social Media Marketing</li>
                            </ul>
                    
                    </div>
                    
                    
                </div>
        
            </div>
        </section>



        <!--Project section-->
        <section id="myprojects" class="py-5 py-md-7">
            <div class="container py-md-5">
                <div class="row block-header">
                    <div class="col-sm-8 mx-auto text-center">
                        <h1 class="display-4 mt-2">{{page.projects.header}}</h1>
                        <hr>
                        <p class="lead">{{page.projects.subheader}}</p>
                    </div>
                </div>
        
               
                <div class="row mt-5 aos-init aos-animate align-items-center" data-aos="fade-up" data-aos-duration="1000">
                    {{#projects}}
                    <div class="col-md-4 col-sm-12 mb-0 ">
                        <a href="{{slug}}">
                            <div class="position-relative project">
                                <div class="image position-relative ">
                                    <img src="{{{image}}}" class="img-fluid w-100 d-block">
                                    <div class="overlay-box">
                                        <div class="overlay-inner overlay-content">
                                            <h5 class="mb-0">{{name}}</h5>
                                            <p>{{category}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/projects}}
                </div>
                
            </div>
        </section>

        <!--Contact section-->
        <section id="contactme" class="py-md-5 block text-center contact-block mb-5">
            <div class="container">
                <div class="row block-header">
                    <div class="col-sm-8 mx-auto text-center">
                        <h1 class="display-4 mt-2 section-title">{{page.contact.header}}</h1>
                        <hr>
                        <p class="lead">{{page.contact.subheader}}</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <form class="col-md-4 col-xl-4 mx-auto input-border">
                        <div class="form-group">
                            <input id="contact-form-name" type="text" class="form-control form-control-lg" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input id="contact-form-email" type="email" class="form-control form-control-lg" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input id="contact-form-message" type="text" class="form-control form-control-lg" placeholder="Message">
                        </div>
                        <button id="btn-contact-submit" class="btn btn-block btn-lg btn-info">Send</button>
                    </form>
                </div>
            </div>
        </section>
        

        {{>footer}}
    </div>

    {{>scripts}}
    <script src="/js/contact.js"> </script>




</body>
</html>
